
*.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.FileListAbsolute.txt
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/v16/.suo
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/DoAn_CuaHangLaptop.csproj.nuget.dgspec.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/project.assets.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/project.nuget.cache
