
*.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.FileListAbsolute.txt
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/v16/.suo
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/DoAn_CuaHangLaptop.csproj.nuget.dgspec.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/project.assets.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/project.nuget.cache
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/config/applicationhost.config
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/About.cshtml.g.cs
*.dll
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/appsettings.Development.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.deps.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.exe
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.runtimeconfig.dev.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.runtimeconfig.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/libman.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/apphost.exe
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.CopyComplete
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/staticwebassets/DoAn_CuaHangLaptop.StaticWebAssets.xml
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Shop.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Product.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Contact.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Checkout.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Cart.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.RazorTargetAssemblyInfo.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
*.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/DesignTimeBuild/.dtbcache.v2
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/DesignTimeBuild/.dtbcache.v2
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/v16/.suo
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.assets.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/DoAn_CuaHangLaptop.csproj.nuget.g.props
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj.user
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/ScaffoldingReadMe.txt
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/DoAn_CuaHangLaptop.csproj.nuget.g.props
