
*.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.FileListAbsolute.txt
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/v16/.suo
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/DoAn_CuaHangLaptop.csproj.nuget.dgspec.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/project.assets.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/project.nuget.cache
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/config/applicationhost.config
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/About.cshtml.g.cs
*.dll
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/appsettings.Development.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.deps.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.exe
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.runtimeconfig.dev.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.runtimeconfig.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/libman.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/apphost.exe
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.CopyComplete
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/staticwebassets/DoAn_CuaHangLaptop.StaticWebAssets.xml
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Shop.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Product.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Contact.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Checkout.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Cart.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.RazorTargetAssemblyInfo.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
*.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/DesignTimeBuild/.dtbcache.v2
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/DesignTimeBuild/.dtbcache.v2
DoAn_CuaHangLaptop/.vs/DoAn_CuaHangLaptop/v16/.suo
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.csproj.AssemblyReference.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/DoAn_CuaHangLaptop.assets.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/DoAn_CuaHangLaptop.csproj.nuget.g.props
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/DoAn_CuaHangLaptop.csproj.user
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/ScaffoldingReadMe.txt
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/DoAn_CuaHangLaptop.csproj.nuget.g.props
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/User.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Release/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Release/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/DoAn_CuaHangLaptop.assets.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/PubTmp/Out/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/PubTmp/Out/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Release/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/bin/Release/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/DoAn_CuaHangLaptop.assets.cache
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/PubTmp/DoAn_CuaHangLaptop.Parameters.xml
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/PubTmp/DoAn_CuaHangLaptop.Parameters.xml
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/PubTmp/Out/DoAn_CuaHangLaptop.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Release/netcoreapp3.1/PubTmp/Out/DoAn_CuaHangLaptop.Views.pdb
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/PublishProfiles/CuaHangLaptop - Web Deploy.pubxml
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/PublishProfiles/CuaHangLaptop - Web Deploy.pubxml.user
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/PublishProfiles/DoAnCuaHangLaptop20211105130422 - Web Deploy.pubxml
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/PublishProfiles/DoAnCuaHangLaptop20211105130422 - Web Deploy.pubxml.user
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/ServiceDependencies/CuaHangLaptop - Web Deploy/profile.arm.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/ServiceDependencies/DoAnCuaHangLaptop20211105130422 - Web Deploy/profile.arm.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/Properties/ServiceDependencies/DoAnCuaHangLaptop20211105130422 - Web Deploy/profile.arm.json
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Signin.cshtml.g.cs
DoAn_CuaHangLaptop/DoAn_CuaHangLaptop/obj/Debug/netcoreapp3.1/Razor/Views/Home/Signup.cshtml.g.cs
*.v2
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/create.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/delete.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/edit.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/Role/index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/User/AddRole.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/User/index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Pages/User/SetPassword.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/HoaDon/Details.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/HoaDon/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Admin/Views/Shared/_Layout.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Cthd/CTHD.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/HDChoXN.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/HDDaGiao.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/HDDangGiao.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Hoadon/HDXN.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Home/Shop.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/Cart.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/Checkout.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/ProductSingle.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Sanpham/Shop.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Admin/_Layout.cshtml.g.cs
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Test.csproj.FileListAbsolute.txt
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Test.pdb
DoAn_CuaHangLaptop/Test/obj/Debug/netcoreapp3.1/Test.Views.pdb
DoAn_CuaHangLaptop/.vs/Test/v16/.suo
DoAn_CuaHangLaptop/Test/bin/Debug/netcoreapp3.1/Test.Views.pdb
DoAn_CuaHangLaptop/Test/bin/Debug/netcoreapp3.1/Test.pdb
